<div mat-dialog class="alarm-create-update">
  <div mat-dialog-title class="header">
    <h2>Confirm Message</h2>
    <button mat-icon-button color="warn" aria-label="Close" (click)="cancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="content">{{ msg }}</div>

  <div mat-dialog-actions class="buttons">
    <button mat-stroked-button color="accent" (click)="cancel()">Cancel</button>
    <button mat-stroked-button color="primary" (click)="accept()">
      Accept
    </button>
  </div>
</div>
