.mat-standard-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.week2 {
  display: flex;
  .buttons {
    margin-left: 1rem;
  }
}
